/*
  
>Footer-------------------

  
{
    border: 1px dotted red;
}
*/
footer {
  height: vh;
  position: relative;
  top: 1px;
}

.footerDiv {
  width: 32.9%;
  height: 20vh;
  display: inline-block;
  background-color: #877666;
  margin-bottom: 0px;
  opacity: 1;
  text-align: center;
  color: wheat;
  position: absolute;
  border-radius: 0px, 10px, 0px, 10px;
}

#div1 {
  left: 4px;
}

#div1 > address {
  padding-top: 10%;
  font-size: 25px;
}

#div2 {
  left: 33.5%;
}

#div2 > p {
  padding: 2%;
}

#div3 {
  right: 4px;
}

#div3 > ul > li > a {
  font-size: 20px;
  list-style: none;
  font-weight: 500;
  text-decoration: none;
}

#div3 > ul > li > a:hover {
  

#div3 > ul > li > {
  list-style: none;
}

#numberTaker {
  color: rgb(25, 255, 25);
}
/*11111
@media only screen and (max-width: 800px) {
  #div1 > address {
    padding-top: 20%;
    font-size: 20px;
  }
  #div2 > h1 {
    font-size: 20px;
  }
  #div3 {
    right: 4px;
  }
  #div3 > ul > li > a {
    font-size: 20px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 800px) {
  .footerDiv {
    display: block;
    position: static;
    width: 99%;
    margin: 0.5%;
  }
  #div1 {
    display: block;

  }
  
  #div1 > address {
    padding-top: 10%;
    font-size: 25px;
  }
  
  #div2 {
    display: block;
  }
  
  #div2 > p {
    padding: 2%;
  }
  
  #div3 {
    display: block;
  }
  
  #div1 > address {
    padding-top: 10%;
    font-size: 20px;
  }
  #div2 > h1 {
    padding-top: 5px;
    font-size: 25px;
  }
  #div3 > ul > li {
    padding: 2px;
  }
}
