/*
> Header
> Naigation Bar
> logo
> List items
-----------------------

{
    border: 1px dashed red;
}
*/
header {
    margin: 0px;
}

nav {
    display: block;
    background-color: #877666;
    opacity: 1;
    height: 17vh;
    margin: 0px;
}
/*
*/

/*

>Logo------------------------

*/

#logoWrapper {
    display: inline-block;
    width: 30%;
    height: 25vh;
    position: absolute;
    left: 0px;
}

#logo {
    font-family: 'Caveat Brush';
    font-weight: 35;
    font-size: 50px;
    color: wheat;
    padding: 20px;
    padding-left: 100px;
    margin-top: 23px;
    text-decoration: none;
    
}


#online {
    font-family: 'Caveat Brush';
    font-size: 24px;
    color: wheat;
    vertical-align: top;
    padding-left: 300px;
}


/*

> Navigation List------------------------

*/

#navListItemsWrapper {
    list-style: none;
    display: inline-block;
    width: 70%;
    height: 25vh;
    margin: auto;
    margin-top: 30px;
    vertical-align: top;
    align-items: center;
    position: absolute;
    left: 38%;
}

#navListItemsWrapper>li>a {
    float: left;
    width: 80px;
    padding: 10px;
    font-family: Georgia;
    color: wheat;
    text-align: center;
    margin: 5px; 
    border: 2px dashed wheat;
    border-radius: 5px;
}
#navListItemsWrapper>li>a:hover {
    border: 3px solid wheat;
}

@media only screen and (max-width: 900px) {
    
    nav{
        height: 30vh;
        display: block;
    }

    #logoWrapper {
        /*display: block;*/
        height: 15vh;
        width: 80%;
        /*position: absolute;
        left: 14%;
        top: 5%;*/
        display: flex;
        justify-content: center;
        border: 1px dashed red;

    }
    #logo{

            font-family: 'Caveat Brush';
            font-weight: 35;
            font-size: 40px;
            color: wheat;
            padding: 0px;
            padding-left: 0px;
            margin-top: 10px;
            text-decoration: none;
            width: fit-content;
            display: flex;
            justify-content: center;
    }
    #online {
        font-family: 'Caveat Brush';
        font-size: 15px;
        color: wheat;
        vertical-align: top;
        /*display: flex;
        justify-content: center;*/
        padding-top: 10%;
        padding-left: 44%;
    }
    
    #navListItemsWrapper {
        list-style: none;
        width: 94%;
        height: 5vh;
        margin-top: 25%;
        display: flex;
        justify-content: center;

        top: 7%;
        left: 10px;
        
    }
    
    #navListItemsWrapper>li>a {
        float: left;
        font-size: 12px;
        width: 60px;
        padding: 5px;
        font-family: Georgia;
        color: #877666;
        text-align: center;
        margin: 3px; 
        border-radius: 5px;
        background-color: wheat;
    }

}