/*  {
     border: 1px dotted rgb(255, 25, 25);
 }#
 
                /*
  
>Body---------------------

  */

body {
  background-color: snow;
}
/*
 
 >> Mian Body Contents

 */
/*
#mainWrapper {
  
}
*/

.mainContent {
  display: inline-block;
  
}

#mainContentLeft {
  color: #877666;
  width: 60%;
  padding-top: 5%;
  padding-left: 9%;
}

#mainContentLeft > h2 {
  text-align: left;
}

#mainContentLeft > p {
  width: 70%;
  font-size: 22px;
  text-shadow: 2px 2px wheat;

}

#mainContentLeft > ul > li {
  font-size: 24px;
  padding-left: 3%;
  text-shadow: 2px 2px wheat;
}

#clickServices {
  color: red;
}

#mainContentRight {
  position: absolute;
  width: 38%;
}

#profilePic {
  height: 60vh;
  z-index: 1;
  border: 1px solid dimgray;
  border-radius: 15px;
}

@media only screen and (max-width: 800px) {
  

  
  #mainWrapper {
    /*height: 200vh;
    border: dashed 1px rgb(0, 255, 13);*/
  }
  
  #mainContentLeft {
    position: relative;
    top: 60%;
    width: 93%;
  }
  #mainContentRight {
   /* top: 3%;
    left: 10%;*/
  }
  #profilePic {
    height: 50vh;
    display: flex;
    justify-content: center;
  }
}
