                /*
  
>Footer-------------------

  */
                
                footer {
                    height: 25vh;
                    position: relative;
                }
                
                .footerDiv {
                    width: 32.9%;
                    height: 25vh;
                    display: inline-block;
                    background-color: gray;
                    margin-bottom: 0px;
                    opacity: 0.5;
                    text-align: center;
                }
                
                #div1 {
                    position: absolute;
                    left: 4px;
                }
                
                #div2 {
                    position: absolute;
                    left: 33.5%;
                }
                
                #div3 {
                    position: absolute;
                    right: 4px;
                }
                
                #numberTaker {
                    color: rgb(25, 255, 25);
                }