                s
                /*  {
     border: 1px dotted rgb(255, 25, 25);
 }#
 
                /*
  
>Body---------------------

  */
                
                body {
                    background-color: rgb(0, 0, 0);
                }
                /*
 
 >> Mian Body Contents

 */
                
                #mainWrapper {
                    position: ;
                }
                
                .mainContent {
                    display: inline-block;
                    height: 40vh;
                }
                
                #mainContentLeft {
                    color: yellowgreen;
                    width: 60%;
                    padding-top: 5%;
                    padding-left: 5%;
                }
                
                #mainContentLeft>h2 {
                    text-align: left;
                }
                
                #mainContentLeft>p {
                    font-size: 17px;
                }
                
                #mainContentLeft>ul>li {
                    font-size: 24px;
                    padding-left: 3%;
                }
                
                #clickServices {
                    color: red;
                }
                
                #mainContentRight {
                    position: absolute;
                    width: 38%;
                }
                
                #profilePic {
                    height: 60vh;
                    z-index: 1;
                }