body {
    background-color: black;
}

#mainWrapper {
    margin: 1%;
    height: ;
    /* border: dotted 1px greenyellow;*/
    position: relative;
}

#mainWrapper>h1 {
    color: yellowgreen;
}

.services {
    width: 20%;
    height: 65vh;
    color: yellowgreen;
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    /* border: dotted 1px greenyellow;*/
    padding: 2%;
}

#fullStack {
    top: ;
}

#digitalMarketing {
    left: 25%;
}

#softwareEngineer {
    left: 50%;
}

#technicalSupport {
    left: 75%;
}

@media only screen and (max-width: 600px) {
    .services {
        display: block;
        width: 100%;
        text-align: center;
    }
}