body {
    background-color: black;
}

#mainWrapper {
    margin: 3%;
    height: 100vh;
}

#mainWrapper>h1 {
    color: yellowgreen;
}

.services {
    width: 24%;
    height: 45vh;
    color: yellowgreen;
    display: inline-block;
    margin-left: 3%;
    position: relative;
    top: 0%;
}

@media only screen and (min-width: 600px) {
    .services {
        display: block;
        width: 100%;
        height: 20vh;
    }
}

{
    border: 1px solid red;
}