/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#logoWrapper {
  text-align: center;
}

#logo {
  font-family: "Caveat Brush", cursive;
  font-size: 35px;
  margin: 0;
  text-align: center;
  color: #fff;

}

#online {
  font-family: "Caveat Brush", cursive;
  font-size: 30px;
  color: green;
  position: relative;
  top: -22px;

  background-color: orange;
  border-radius: 100%;
}

nav {
  text-align: center;
  background-color: #333;
  padding: 10px 0;
}

#navListItemsWrapper {
  list-style: none;
  padding: 0;
  display: inline-block;
}

#navListItemsWrapper li {
  display: inline;
  margin-right: 20px;
}

#navListItemsWrapper li:last-child {
  margin-right: 0;
}

#navListItemsWrapper a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

#navListItemsWrapper a:hover {
  color: #ff9900;
}

/*
    Drop Down # Projects
    ****************/

/* Dropdown Content (hidden by default) */

.dropdown{


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  /*min-width: 13%;*/
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0px 8px 16px 0px grey;
  z-index: 1;
  text-align: center;
  /* Adjust to your preference */
  right: 30%;


}



/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  width: 150px;

}

/* Style for the dropdown links */
.dropdown-content a {
  
  display: block;
  text-align: center;
  padding: 12px;
  font-size: 15px;
  font-family: "Caveat Brush", cursive;
  color: #fff;
  background-color: #333;
  opacity: 0.8;
}

.dropdown-content a:hover {
  color: orange;
  opacity: 1;
  transition: 0.3s;



  
}
