/*  {
     border: 1px dotted rgb(255, 25, 25);
 }#
 
                /*
  
>Body---------------------

  */

#bodyColor {
  background-color: snow;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
/*
 
 >> Mian Body Contents

 */
/*
#mainWrapper {
  
}
*/

.mainContent {
  display: inline-block;
}

#mainContentLeft {
  
  width: 60%;
  padding-top: 5%;
  padding-left: 9%;
}

#mainContentLeft > h2 {
  text-align: left;
}

#mainContentLeft > p {
  width: 70%;
  font-size: 22px;
  /*text-shadow: 2px 2px wheat;*/
}

#mainContentLeft > ul > li {
  font-size: 24px;
  padding-left: 3%;
  /*text-shadow: 2px 2px wheat;*/
}

#clickServices {
  color: red;
}

#mainContentRight {
  position: absolute;
  width: 38%;
}

#profilePic {
  margin-top: 5vh;
  height: 60vh;
  z-index: 1;
  border: 1px solid dimgray;
  border-radius: 15px;
}

@media only screen and (max-width: 800px) {
  #mainWrapper {
    /*height: 200vh;
    border: dashed 1px rgb(0, 255, 13);*/
  }

  #mainContentLeft {
    position: relative;
    top: 60%;
    width: 93%;
  }
  #mainContentLeft > p {
    width: 80%;
    font-size: 16px;
  }
  #mainContentLeft > ul > li {
    font-size: 19px;
  }

  #mainContentRight { 
    width: fit-content;
    top: 3%;
    left: 10%;
  }

  #profilePic {
    height: 50vh;
    /*display: flex;
    justify-content: center;*/
    padding: auto;
  }
}
