#servicesBody {
    background-color: snow;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#mainWrapper {
    margin: 1%;
    height: 95vh;
    position: relative;
}

#mainWrapper>h1 {
    color: #877666;
}

.services {
    width: 20%;
    height: 80vh;
    font-size: 17px;
    color: #877666;
    display: inline-block;
    margin-left: 2px;
    position: absolute;
    padding: 2%;
    border-right: solid 2px #877666;
    border-bottom: solid 3px #877666;
    border-radius: 15px;
    /*text-shadow: 2px 2px wheat;*/
    box-shadow: 2px 5px wheat;
}

#digitalMarketing {
    /*left: 25%;*/
    animation: left 1s;
}
#fullStack {
    left: 25%;
    animation: top 1s;
}

#softwareEngineer {
    left: 50%;
    animation: bottom 1s;
}

#technicalSupport {
    left: 75%;
    animation: top 1s;
}
@keyframes top {
    from {top: -500px;}
    to{top:0px}
  }
  @keyframes left {
    from {left: -500px;}
    to{left:0px}
  }
  
  @keyframes right {
    from {right: -500px;}
    to{right:0px}
  }
  
  @keyframes bottom {
    from {bottom: -500px;}
    to{bottom:0px;}
  }

@media only screen and (max-width: 1150px) {
    #mainWrapper {
        height: 135vh;
    }
    .services {
        width: 43%;
        height: 60vh;
        text-align: center;
    }
    #fullStack {
        left: 0%;
    }
    #digitalMarketing {
        left: 50%;
    }
    #softwareEngineer {
        top: 52%;
        left: 0%;
    }
    #technicalSupport {
        top: 52%;
        left: 50%;
    }
}
@media only screen and (max-width: 800px) {
    #mainWrapper {
        height: 110vh;
    }
    .services {
        width: 80%;
        font-size: 15;
        height: fit-content;
        text-align: center;
        padding-top: 3vh;
        padding-bottom: 10vh;
        margin-top: 5vh;
        margin-left: 8%;
     /*   display: flex;*/
        justify-content: center;
        position: static;
    }


}
